/* $Id$ $URL$ */
body {
/*    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar-fixed-top {
    position: fixed;
}

.navbar-fixed-top .container {
    width: 100%;
}

.nav img[id="search-img"] {
    margin: 10px 0 0 0;
}

.navbar .nav > li > a {
    margin-right: -5px;
}

input[id="keyword"] {
    height: 12px;
    margin: 10px 0 0 0;
    width:  120px;
}
select[name="m"] {
    height: 24px;
    margin: 9px 0 0 10px;
    width: 100px;
}

#nav-sub {
    float: right;
    margin-top: 60px;
}

#nav-sub ul {
    display: inline;
}

#nav-sub ul li {
    display: inline;
}

#nav-sub a {
    margin-right: 20px;
}

table {

}
/* Standard table 'spreadsheet' style */
table.tbl {
    background: #aeaeae;
    width: 100%;
}

table.tbl TH {
    white-space: nowrap;
    border-left-width: 0px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding: 2px 2px 2px 2px;
    text-align:center;
    line-height:18px;
    list-style-type: disc;
    list-style-position: inside;
}

table.tbl td {
    background-color: #ffffff;
}

div.std {
    background: inherit;
    height: 0px;
}

select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"], input[type="date"],
    input[type="month"], input[type="time"], input[type="week"],
    input[type="number"], input[type="email"], input[type="url"],
    input[type="search"], input[type="tel"], input[type="color"],
    .uneditable-input {
    font-size: 10px;
    height: 15px;
    width: 175px;
}

.crumb ul {
    margin-left: 5px;
    padding: 0px;
}
.crumb ul li {
	margin: 2px 2px 2px;
	font-family:arial,sans-serif;
	color: #000000;
	text-decoration: none;
	display: inline; /* Remove this line arrange the buttons vertically */
	background: transparent url('images/crumb_right.gif') no-repeat scroll top right;
	float: left;
	height: 22px;
	padding-right: 10px; /* sliding doors padding */
	border:0px;
}
.crumb ul li span, .crumb ul li div {
    background: transparent url('images/crumb_left.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 2px 0 5px 10px;
}
.crumb ul li a {
	display: inline;
	color: #000000;
}
.crumb ul li a:active {
	color: #AD0000;
}
.crumb ul li a:hover {
	color: #FFFFFF;
}